@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800&display=swap");

:root {
  --primary: #facc15;
  --gray: #4b5563;
  --green: #22c55e;
  --orange: #f97316;
  --dark: #171717;
  --blue: #3b82f6;
  --white: #fafafa;

  --ifm-color-primary: var(--gray);
  --ifm-color-primary-dark: #434c59;
  --ifm-color-primary-darker: #404854;
  --ifm-color-primary-darkest: #353c45;
  --ifm-color-primary-light: #525e6d;
  --ifm-color-primary-lighter: #566272;
  --ifm-color-primary-lightest: #626f81;
  --ifm-font-family-base: "Inter";

  --ifm-background-color: var(--white);
}

[data-theme="dark"] {
  --ifm-color-primary: var(--primary);
  --ifm-color-primary-dark: #efc005;
  --ifm-color-primary-darker: #e2b505;
  --ifm-color-primary-darkest: #ba9504;
  --ifm-color-primary-light: #fbd230;
  --ifm-color-primary-lighter: #fbd53d;
  --ifm-color-primary-lightest: #fcdd65;
  --ifm-background-color: var(--dark);
}
