:root {
  --ifm-font-family-base: var(--mantine-font-family);

  --ifm-color-primary-darkest: var(--mantine-color-brand-blue-9);
  --ifm-color-primary-darker: var(--mantine-color-brand-blue-8);
  --ifm-color-primary-dark: var(--mantine-color-brand-blue-7);
  --ifm-color-primary: var(--mantine-color-brand-blue-6);
  --ifm-color-primary-light: var(--mantine-color-brand-blue-5);
  --ifm-color-primary-lighter: var(--mantine-color-brand-blue-4);
  --ifm-color-primary-lightest: var(--mantine-color-brand-blue-3);
  --ifm-background-color: var(--mantine-color-white);
}

[data-theme="light"] {
  --ifm-link-color: var(--mantine-color-brand-blue-6);
}

[data-theme="dark"] {
  --ifm-background-color: var(--mantine-color-black);
  --ifm-color-primary-darkest: var(--mantine-color-brand-yellow-9);
  --ifm-color-primary-darker: var(--mantine-color-brand-yellow-8);
  --ifm-color-primary-dark: var(--mantine-color-brand-yellow-7);
  --ifm-color-primary: var(--mantine-color-brand-yellow-6);
  --ifm-color-primary-light: var(--mantine-color-brand-yellow-5);
  --ifm-color-primary-lighter: var(--mantine-color-brand-yellow-4);
  --ifm-color-primary-lightest: var(--mantine-color-brand-yellow-3);
}

/* inter-100 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/inter/inter-v12-latin-100.eot");
  src: local(""),
    url("/fonts/inter/inter-v12-latin-100.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter/inter-v12-latin-100.woff2") format("woff2"),
    url("/fonts/inter/inter-v12-latin-100.woff") format("woff"),
    url("/fonts/inter/inter-v12-latin-100.ttf") format("truetype"),
    url("/fonts/inter/inter-v12-latin-100.svg#Inter") format("svg");
}

/* inter-200 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/inter/inter-v12-latin-200.eot");
  src: local(""),
    url("/fonts/inter/inter-v12-latin-200.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter/inter-v12-latin-200.woff2") format("woff2"),
    url("/fonts/inter/inter-v12-latin-200.woff") format("woff"),
    url("/fonts/inter/inter-v12-latin-200.ttf") format("truetype"),
    url("/fonts/inter/inter-v12-latin-200.svg#Inter") format("svg");
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter/inter-v12-latin-regular.eot");
  src: local(""),
    url("/fonts/inter/inter-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter/inter-v12-latin-regular.woff2") format("woff2"),
    url("/fonts/inter/inter-v12-latin-regular.woff") format("woff"),
    url("/fonts/inter/inter-v12-latin-regular.ttf") format("truetype"),
    url("/fonts/inter/inter-v12-latin-regular.svg#Inter") format("svg");
}

/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter/inter-v12-latin-600.eot");
  src: local(""),
    url("/fonts/inter/inter-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter/inter-v12-latin-600.woff2") format("woff2"),
    url("/fonts/inter/inter-v12-latin-600.woff") format("woff"),
    url("/fonts/inter/inter-v12-latin-600.ttf") format("truetype"),
    url("/fonts/inter/inter-v12-latin-600.svg#Inter") format("svg");
}

/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/inter/inter-v12-latin-800.eot");
  src: local(""),
    url("/fonts/inter/inter-v12-latin-800.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter/inter-v12-latin-800.woff2") format("woff2"),
    url("/fonts/inter/inter-v12-latin-800.woff") format("woff"),
    url("/fonts/inter/inter-v12-latin-800.ttf") format("truetype"),
    url("/fonts/inter/inter-v12-latin-800.svg#Inter") format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
